/* line 7, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.new-button {
  padding-left: 0;
}

/* line 13, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.search-form {
  @exted .clear-fix;
}
/* line 15, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.search-form input[type=search] {
  width: 120px;
}
/* line 19, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.search-form .search-wrapper {
  display: inline-block;
  float: right;
  margin-left: 8px;
}
/* line 26, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.search-form button:hover {
  cursor: pointer;
  color: black;
}
/* line 30, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.search-form button:hover {
  cursor: pointer;
  color: black;
}
/* line 35, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.search-form i {
  font-size: 2rem;
  color: #bbb;
  vertical-align: middle;
}

/* line 47, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
a.editar-form {
  text-decoration: none;
  float: right;
}

/* line 64, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
section.instituicao .listing.instituicoes {
  min-width: 95%;
  margin-top: 15px;
}
/* line 68, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
section.instituicao .listing.instituicoes td, section.instituicao .listing.instituicoes th {
  padding: 10px 5px;
}
/* line 70, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
section.instituicao .listing.instituicoes thead {
  color: #bbb;
  font-weight: 400;
}
/* line 76, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
section.instituicao .breadcrumb {
  margin-bottom: 30px;
}
/* line 77, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
section.instituicao [role=button] {
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 5px;
  display: inline-block;
  min-width: 100px;
  text-align: center;
  border-radius: 5%;
  color: black;
  transition: .3s;
}
/* line 87, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
section.instituicao [role=button]:hover, section.instituicao [role=button]:active {
  background: #ccc;
}

/* line 94, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form, section.instituicao form.edit_instituicao, section.instituicao form.new_instituicao {
  /*  style do endeteco */
}
/* line 95, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .label-wrapper, section.instituicao form.edit_instituicao .label-wrapper, section.instituicao form.new_instituicao .label-wrapper {
  display: inline-block;
}
/* line 98, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .field, section.instituicao form.edit_instituicao .field, section.instituicao form.new_instituicao .field {
  display: inline-block;
  float: left;
  padding: 15px 10px;
}
/* line 103, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .field label, section.instituicao form.edit_instituicao .field label, section.instituicao form.new_instituicao .field label {
  margin-right: 10px;
}
/* line 106, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .field:first-child .label-wrapper, section.instituicao form.edit_instituicao .field:first-child .label-wrapper, section.instituicao form.new_instituicao .field:first-child .label-wrapper {
  min-width: 85px;
}
/* line 112, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-1 .field:first-child, section.instituicao form.edit_instituicao .line-type-1 .field:first-child, section.instituicao form.new_instituicao .line-type-1 .field:first-child {
  width: 68%;
}
/* line 113, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-1 .field:nth-child(2), section.instituicao form.edit_instituicao .line-type-1 .field:nth-child(2), section.instituicao form.new_instituicao .line-type-1 .field:nth-child(2) {
  width: 32%;
}
/* line 115, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-1 input[type=text], section.instituicao form.edit_instituicao .line-type-1 input[type=text], section.instituicao form.new_instituicao .line-type-1 input[type=text] {
  width: 75.6%;
}
/* line 122, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-2 .field:first-child, section.instituicao form.edit_instituicao .line-type-2 .field:first-child, section.instituicao form.new_instituicao .line-type-2 .field:first-child {
  width: 27%;
}
/* line 123, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-2 .field:first-child input, section.instituicao form.edit_instituicao .line-type-2 .field:first-child input, section.instituicao form.new_instituicao .line-type-2 .field:first-child input {
  width: 110px;
}
/* line 125, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-2 .field:first-child input, section.instituicao form.edit_instituicao .line-type-2 .field:first-child input, section.instituicao form.new_instituicao .line-type-2 .field:first-child input {
  max-width: 110px;
}
/* line 127, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-2 .field:nth-child(2), section.instituicao form.edit_instituicao .line-type-2 .field:nth-child(2), section.instituicao form.new_instituicao .line-type-2 .field:nth-child(2) {
  width: 37%;
}
/* line 129, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-2 .field:nth-child(2) input, section.instituicao form.edit_instituicao .line-type-2 .field:nth-child(2) input, section.instituicao form.new_instituicao .line-type-2 .field:nth-child(2) input {
  width: 225px;
}
/* line 131, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-2 .field:nth-child(3), section.instituicao form.edit_instituicao .line-type-2 .field:nth-child(3), section.instituicao form.new_instituicao .line-type-2 .field:nth-child(3) {
  width: 36%;
}
/* line 133, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-2 .field:nth-child(3) input, section.instituicao form.edit_instituicao .line-type-2 .field:nth-child(3) input, section.instituicao form.new_instituicao .line-type-2 .field:nth-child(3) input {
  max-width: 110px;
}
/* line 139, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-3 .field, section.instituicao form.edit_instituicao .line-type-3 .field, section.instituicao form.new_instituicao .line-type-3 .field {
  width: 100%;
}
/* line 141, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-3 .field textarea, section.instituicao form.edit_instituicao .line-type-3 .field textarea, section.instituicao form.new_instituicao .line-type-3 .field textarea {
  max-width: 87%;
  width: 88%;
  min-height: 100px;
  padding: 10px;
}
/* line 148, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-3 .field .label-wrapper, section.instituicao form.edit_instituicao .line-type-3 .field .label-wrapper, section.instituicao form.new_instituicao .line-type-3 .field .label-wrapper {
  vertical-align: top;
}
/* line 155, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-4 .field, section.instituicao form.edit_instituicao .line-type-4 .field, section.instituicao form.new_instituicao .line-type-4 .field {
  width: 68%;
}
/* line 157, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-4 .field input, section.instituicao form.edit_instituicao .line-type-4 .field input, section.instituicao form.new_instituicao .line-type-4 .field input {
  width: 75.6%;
}
/* line 164, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-5 .field, section.instituicao form.edit_instituicao .line-type-5 .field, section.instituicao form.new_instituicao .line-type-5 .field {
  width: 33.3333%;
}
/* line 166, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-5 .field input, section.instituicao form.edit_instituicao .line-type-5 .field input, section.instituicao form.new_instituicao .line-type-5 .field input {
  width: 64%;
}
/* line 171, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-6 .field:nth-child(1), section.instituicao form.edit_instituicao .line-type-6 .field:nth-child(1), section.instituicao form.new_instituicao .line-type-6 .field:nth-child(1) {
  width: 33.3333%;
}
/* line 173, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-6 .field:nth-child(1) input, section.instituicao form.edit_instituicao .line-type-6 .field:nth-child(1) input, section.instituicao form.new_instituicao .line-type-6 .field:nth-child(1) input {
  width: 64%;
}
/* line 175, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-6 .field:nth-child(2), section.instituicao form.edit_instituicao .line-type-6 .field:nth-child(2), section.instituicao form.new_instituicao .line-type-6 .field:nth-child(2) {
  width: 33.3333%;
}
/* line 177, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-6 .field:nth-child(2) input, section.instituicao form.edit_instituicao .line-type-6 .field:nth-child(2) input, section.instituicao form.new_instituicao .line-type-6 .field:nth-child(2) input {
  width: 64%;
}
/* line 179, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-6 .field:nth-child(3), section.instituicao form.edit_instituicao .line-type-6 .field:nth-child(3), section.instituicao form.new_instituicao .line-type-6 .field:nth-child(3) {
  width: 33.3333%;
}
/* line 181, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-6 .field:nth-child(3) input, section.instituicao form.edit_instituicao .line-type-6 .field:nth-child(3) input, section.instituicao form.new_instituicao .line-type-6 .field:nth-child(3) input {
  width: 71%;
}
/* line 187, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-7 .field, section.instituicao form.edit_instituicao .line-type-7 .field, section.instituicao form.new_instituicao .line-type-7 .field {
  width: 100%;
}
/* line 189, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-7 .field input, section.instituicao form.edit_instituicao .line-type-7 .field input, section.instituicao form.new_instituicao .line-type-7 .field input {
  width: 87.5%;
}
/* line 195, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-8 .field:first-child, section.instituicao form.edit_instituicao .line-type-8 .field:first-child, section.instituicao form.new_instituicao .line-type-8 .field:first-child {
  width: 40%;
}
/* line 197, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-8 .field:first-child input, section.instituicao form.edit_instituicao .line-type-8 .field:first-child input, section.instituicao form.new_instituicao .line-type-8 .field:first-child input {
  width: 65%;
}
/* line 200, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-8 .field:nth-child(2), section.instituicao form.edit_instituicao .line-type-8 .field:nth-child(2), section.instituicao form.new_instituicao .line-type-8 .field:nth-child(2) {
  width: 60%;
}
/* line 203, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-8 .field:nth-child(2) input, section.instituicao form.edit_instituicao .line-type-8 .field:nth-child(2) input, section.instituicao form.new_instituicao .line-type-8 .field:nth-child(2) input {
  width: 80%;
  float: right;
}
/* line 204, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-8 .field:nth-child(2) .label-wrapper, section.instituicao form.edit_instituicao .line-type-8 .field:nth-child(2) .label-wrapper, section.instituicao form.new_instituicao .line-type-8 .field:nth-child(2) .label-wrapper {
  margin-right: 5%;
}
/* line 210, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-9 .fone, section.instituicao form.edit_instituicao .line-type-9 .fone, section.instituicao form.new_instituicao .line-type-9 .fone {
  width: 40%;
}
/* line 212, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-9 .fone input, section.instituicao form.edit_instituicao .line-type-9 .fone input, section.instituicao form.new_instituicao .line-type-9 .fone input {
  width: 65%;
}
/* line 215, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-9 .email, section.instituicao form.edit_instituicao .line-type-9 .email, section.instituicao form.new_instituicao .line-type-9 .email {
  width: 60%;
}
/* line 217, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-9 .email input, section.instituicao form.edit_instituicao .line-type-9 .email input, section.instituicao form.new_instituicao .line-type-9 .email input {
  width: 80%;
  float: right;
}
/* line 220, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .line-type-9 .email .label-wrapper, section.instituicao form.edit_instituicao .line-type-9 .email .label-wrapper, section.instituicao form.new_instituicao .line-type-9 .email .label-wrapper {
  margin-right: 5%;
  min-width: 0;
}
/* line 228, C:/giga-candanga/app/assets/stylesheets/instituicoes.scss */
.inst-form .actions input, section.instituicao form.edit_instituicao .actions input, section.instituicao form.new_instituicao .actions input {
  float: right;
  margin-right: 1%;
}
