<% @page_header = 'Instituição' %>
<section class="instituicao">

  <div class="row breadcrumb">
    <p> <%= link_to("Instituições", instituicoes_path)%> > Categorias </p>
  </div>

  <div class="row">
    <div class="editar-form col-sm-1 col-sm-offset-10">
      <a href="#" class="editar-form btn btn-primary btn-md">Editar</a>
    </div>
  </div>
  <div class="box box-primary">
    <%= render 'form', instituicao: @instituicao, categorias: @categorias, tipos_resp: @responsavel_tipos%>
  </div>
</section>
<%= render(partial: "layouts/error_messages", locals: { object: @instituicao })%>
