<% @page_header = 'Instituição' %>
<section class="instituicao">

  <div class="row breadcrumb">
    <p> <%= link_to("Instituições", instituicoes_path)%> > Categorias </p>
  </div>
  <div class="editar-form">
    <a href="#" class="editar-form">Editar</a>
  </div>

  <div class="box box-primary">
    <%= render 'form', instituicao: @instituicao %>
  </div>
</section>
