<section class="instituicao">
  <div class="row page-heading">
    <h1> Instituição</h1>
    <div class="underline"></div>
  </div>

  <div class="row breadcrumb">
    <p> <%= link_to("Instituioções", instituicoes_path)%> > Categorias </p>
  </div>

  <%= render 'form', instituicao: @instituicao %>

  <%= link_to 'Show', @instituicao %> |
  <%= link_to 'Back', instituicoes_path %>
</section>
