<section class="instituicao">
  <div class="row page-heading">
    <h1> Instituição</h1>
    <div class="underline"></div>
  </div>

  <div class="row breadcrumb">
    <p> <%= link_to("Instituições", instituicoes_path)%> > Categorias </p>
  </div>

  <%= render 'form', instituicao: @instituicao %>

</section>
