<% @page_header = 'Cadastro Instituição' %>
<section class="instituicao">
  <div class="row breadcrumb">
    <p> <%= link_to("Instituições", instituicoes_path) %> </p>
  </div>

  <div class="box box-primary">
    <%= render partial: 'form', locals: {instituicao: @instituicao, tipos_resp: @responsavel_tipos} %>
  </div>
</section>
