<div class="dialog-wrapper hidden">
  <div class="box box-primary">
    <div id="nova-categoria-repasse-dialog" title="Nova Categoria Repasse">
      <div class="box-header with-border">
        <h4>Nova Categoria de Repasse</h4>
      </div>

      <%= form_for(repasse_categoria, class:"nova-repasse-categoria form-horizontal") do |f|%>
        <div class="box-body">
          <div class="form-group">
            <%= f.label(:nome, "Nome", class: "col-sm-1 control-label col-sm-offset-2")%>
            <div class="col-sm-7">
              <%= f.text_field(:nome, class:"form-control",  maxlength: "50", laceholder: "Descrição da Categoria")%>
            </div>
          </div>
        </div>

        <div class="box-footer">
          <div class="col-sm-10">
            <%= f.submit("Salvar", class: "btn btn-primary pull-right")%>
          </div>
        </div>
      <%end%>
  </div></div>
</div>

