<div class="dialog-wrapper hidden">
  <div class="box box-primary">
    <div id="nova-categoria-dialog" title="Nova Categoria">
      <div class="box-header with-border" >
        <h2>Nova Categoria</h2>
      </div>

      <%= form_for(categoria,  class:"nova-categoria form-horizontal") do |f|%>

        <div class="box-body">
          <div class="form-group">
            <%= f.label(:nome, "Nome", class: "col-sm-1 control-label col-sm-offset-2")%>
            <div class="col-sm-7">
              <%= f.text_field(:nome, maxlength: "50", placeholder: "Descrição da Categoria", class: "form-control")%>
            </div>
          </div>
        </div>

        <div class="box-footer">
          <div class="col-sm-10">
            <%= f.submit("Salvar", class: "btn btn-primary pull-right")%>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
