<%if not @categoria.ativa %>
    $('#categorias-ativas-listing').find('tr[record_id=<%=@categoria.id%>]').fadeOut(400, function(){
      $(this).remove();
      //alert("Registro inativado com sucesso!");
    });

    // cria nova tr
    let newRow = $('<tr record_id="<%=@categoria.id%>">');
    
    // cria 2 novas td's com o nome e o link para ativar e desativar
    let cName = $('<td> <%=@categoria.nome %> </td>');
    let cAction = $('<td>');
    cAction.append('<%= link_to("",ativar_categoria_path(@categoria), method: "post", class:"link-ativa", data: {confirm: "Tem Certeza?"}, remote:true).html_safe%> ');
cAction.find('a.link-ativa').append($( '<i class="ion-checkmark-circled"></i>' ));

  
    newRow.append(cName).append(cAction);
    
    // encontra a tabela o insere a nova linha na mesma
    let body = $('#categorias-inativas-listing').find('tbody'); 
    newRow.hide().appendTo(body).fadeIn(999);

<%else%>
    alert("Nao foi possível desativar registro!");
<%end%>
