<% @page_header = 'Editar Usuário' %>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Dados do Usuário</h3>
  </div>
    <%= render 'form', usuario: @usuario, action: 'Editar', pwd: 'Nova' %>
  </div>
</div>
