<h3>Usuários</h3>

  <table>
    <thead>
      <th>#</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td> <%= user.id %> </td>
          <td> <%= user.complemento.nome %> </td>
          <td> <%= user.email %> </td>
          <td> <%= user.complemento.telefone %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
