body {
  background-color: #23546f;
}

.container {
  @include outer-container;
  width: 25%;
  margin: 70px auto;
}

.conteudo {
  background-color: #e9e9eb;
  color: #9D9D9E;
  border-radius: 1px;
  padding: 20px 15px;
  font-family: sans-serif;
}

.conteudo h3 {
  text-transform: uppercase;
  margin-top: 0;
}

.conteudo a {
  text-decoration: none;
  color: #3b8ab7;
}

.bt-medio {
  color: #e9e9eb;
  border: none;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  background-color: #3b8ab7;
}

.input-form {
  width: 100%;
  padding: 8px 16px;
  // margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}
