/*  base  */
@import "base/variables.scss";
@import "base/mixins.scss";
@import "base/normalize.scss";
@import "base/global.scss";


/** Vendors  */

@import "vendor/css/ionicons.min.css";

/* controllers */

@import "categorias.scss";
@import "repasse_categorias.scss";
@import "instituicoes.scss";
