/** Vendors  */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
// @import "ionicons";
// @import "admin-lte";
// @import "vendor/css/ionicons.min.css";

/*  base  */
// @import "base/variables.scss";
// @import "base/mixins.scss";
// @import "base/normalize.scss";
// @import "base/global.scss";
//
//
//
//
// /* controllers */
//
// @import "categorias.scss";
// @import "repasse_categorias.scss";
// @import "instituicoes.scss";
