<aside class="app-sidebar">
  <div class="row side-block">
    <%= link_to_unless_current("Instituições", instituicoes_path)%>
    <ul>
      <li> 
        <%= link_to_unless_current(" - Nova Instituição", new_instituicao_path)%>
      </li>
      <li>
        <%= link_to_unless_current(" - Categorias", categorias_path)%>
      </li>
    </ul>
  </div>

  <div class="row side-block">
    <a href="#">Instrumentos jurídicos</a>
    <ul>
      <li>
        <a href="#"> - Novo Instr. Jurídico</a>
      </li>
      <li>
        <a href="#"> - Novo Aditivo</a>
      </li>
      <li>
        <%= link_to_unless_current(" - Categoria de Repasse", repasse_categorias_path)%>
      </li>
    </ul>
  </div>

  <div class="row side-block">
    <a href="#">Conexões</a>
  </div>

  <div class="row side-block">
    <a href="#">Equipamentos</a>
  </div>

  <div class="row side-block">
    <a href="#">Acesso</a>
    <ul>
      <li>
        <a href="#"> - Novo Usuário</a>
      </li>
    </ul>
  </div>
</aside>

