<aside class="app-sidebar">
  <div class="row side-block">
    <a href="#">Instituições</a>
    <ul>
      <li> 
        <a href="#">Nova Instituição</a>
      </li>
      <li>
        <a href="#">Categorias</a>
      </li>
    </ul>
  </div>

  <div class="row side-block">

  </div>

  <div class="row side-block">

  </div>

  <div class="row side-block">

  </div>

  <div class="row side-block">

  </div>

</aside>

